.instagram-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x69;');
}
.pinterest-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x70;');
}
.facebook-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x66;');
}
.twitter-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x74;');
}
.flickr-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x67;');
}
.rss-icon {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x72;');
}

h1.site-title a {
	background-image: none;
	-ms-background-position-x: -140px;
	-ms-background-position-y: -90px;

}